* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 310px;
  transform: translate(-50%, -50%);
}

.container .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #222;
  border-radius: 50px;
}

.container .nav span {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 10px 5px;
  background-color: #ff0000;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transition: 1s all;
}